.case5__container {
    display:flex;
    flex-flow:column;
    height:300px;
    padding:10px;
    border:1px solid #CCC;
}
.case5__container .item {
    flex-grow:1;
    flex-shrink:1;
    flex-basis:0;
    border-bottom:1px solid #FFF;
}
.case5__container .middle {
	flex-grow:2;
}