.case2__container {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:50%;
    padding:10px;
    border:1px solid #CCC;
}
.case2__container .item {
    margin:0 5px 5px 0;
    white-space:nowrap;
}