/* Reset
--------------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Headings
--------------------------------------*/
.main-title,
.second-title {
    margin:0;
    padding: 20px 5px;
    font-family:Georgia, Arial, Helvetica, sans-serif;
    color:#666;
    font-size:200%;
    font-weight: normal;
}
.second-title {
    font-size:125%;
}

/* Layout
--------------------------------------*/
.wrapper {
    margin:0 auto;
    max-width:1200px;
}
.test {
    margin-bottom:20px;
}

/* Colors
--------------------------------------*/
.bg-blue {
    background-color:#3498DB;
}
.bg-yellow {
    background-color:#F1C40F;
}
.bg-green {
    background-color:#1ABC9C;
}
.bg-red {
    background-color:#E74C3C;
}

/* Blocks
--------------------------------------*/
.item {
    padding:3px 5px;
    color:#FFF;
    font-size:16px;
    text-transform:uppercase;
    font-family:Georgia, Arial, Helvetica, sans-serif;
}